<select *ngIf="selectedAction !== '1'" 
    class="btn btn-primary" 
    name="selectAcciones" 
    (change)="onSelectChange($event)"
    style="margin-left: 80%; text-align: left;">
    <option selected value="0">Acciones</option>
    <option value="1" style="background-color: aliceblue; color: black;">Nuevo</option>
    <option value="2" style="background-color: aliceblue; color: black;">Borrar</option>
  </select>
  
<app-file-form *ngIf="selectedAction === '1'" (volverAtrasEvent)="volverAtras()"></app-file-form>
<app-file-view *ngIf="selectedAction === '0' || selectedAction === '2'"
 [selectedAction]="selectedAction">
</app-file-view>
  


